body{
    margin: 0px;
    padding: 0px;
}

#loading {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 9999;
  }



header{
    padding: 3vh 8vw;
    display: flex;
    background-color: #4BA284;
    align-items: center;
    justify-content: space-between;
}


header .menu{
    display: flex;
}

header .menu a{
    margin-left: 30px;
}



header .menu-atendimento{
    padding-left: 43%;
    margin-left: auto !important;
    display: flex;
}


header .menu-atendimento a{
    margin-left: 30px;
}



.btn {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }

.third {
    border-color: white;
    color: #4BA284;
    box-shadow: 0 0 40px 40px white inset, 0 0 0 0 white;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .third:hover {
    border-color: white;
    box-shadow: 0 0 10px 0 white inset, 0 0 10px 4px white;
    color: white;
  }











.graf-cidade{
    margin-top: 3%;
    font-size: 18px;
    color: gray;
}

#chartdiv-barralat{
  margin-left: 7%;
}

#chartdiv-barralat h3{
    margin-left: 7%;
}

#chartdiv-barralat {
    width: 90%;
    height: 1500px;
  }

#chartdiv-barra {
    margin-top: 6%;
    margin-left: 0%;
    width: 100%;
    height: 400px;
  }





  .graf-atendimentos{
    font-size: 18px;
    color: gray;
  }

  .graf-atendimentos .atend-g1 h3{
    margin-left: 4%;
  }


  .graf-atendimentos .atend-g1{
    padding: 3vh 5vw;
  }
 

  .graf-atendimentos .atend-g2{
    padding: 3vh 4vw;
    display: flex;
    margin-top: 60px;
    margin-left: 4%;
    justify-content: space-around;
  }


  #chartdiv-barlat-foto {
    width: 100%;
    height: 1150px;
    
  }

 table{
  margin-left: 25% !important;
  margin: 7%;
 }
 
  table, th, td, caption{
    border:1px solid #c0c0c0;
    border-collapse:collapse;padding:20px 50px
  }
  
  table caption{
    background-color:#4BA284;
    font-weight:bold;
    color: white;
  }

  td:nth-child(2),tfoot td:nth-child(1) {
    text-align:center;
  }

  
  tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
  
  td:nth-child(3),tfoot td:nth-child(2) {
    text-align:center;
    font-weight:bold;
  }
  
  td:nth-child(3){
    width:30%;
  }


 

  #chartdiv-bar h3{
    margin-left: -7%;
  }



  #chartdiv-meiaroda {
    width: 50%;
    height: 300px;
  }

  #chartdiv-roda {
    width: 50%;
    height: 300px;
  }

  .graf-atendimentos .atend-g3{
    padding: 3vh 4vw;
    display: flex;
    margin-top: 60px;
    margin-left: 4%;
    justify-content: space-around;
  }

  #chartdiv-meiaroda2 {
    padding-top: 50px;
    width: 50%;
    height: 300px;
  }

  #chartdiv-meiaroda3 {
    padding-top: 50px;
    width: 50%;
    height: 300px;
  }




  #chartdiv-bar {
    width: 80%;
    height: 300px;
    margin-left: 8% !important; 
    
    margin: 10% 0px;
  }



  #chartdiv-barra-foto {
    width: 100%;
    height: 900px;
    margin-top: 60px;
    margin-left: 0%;
  }

  #chartdiv-barra-foto h3{
    margin-left: 4%;
  }




footer{
    padding-top: 100px;
}

footer img{
    width: 100%;
    background-color: #449b7d;
    padding: 1.5vh 0px 1.5vh 0px;
}

 