body{
    margin: 0px;
    padding: 0px;
    font-family:'Times New Roman', Times, serif ;
}

#loading {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 9999;
  }



header{
    padding-top: 30px;
    padding-left: 25%;
    display: flex;
    background-color: #00cc7a;
    height: 9%;
    justify-content:space-between;
}

header #logo{
    padding-right: 100px;
    height: 50px;
    width: 100px;
}

header .menu{
    padding-top: 20px;
    padding-right: 30%;
    justify-content:space-between;
}

header .menu a{
    color: white;
    font-size: 25px;
    text-decoration: none;
    padding-left: 50px;
}




#chartdiv-barra {
    width: 40%;
    height: 400px;
  }



  .graf-atendimentos{
    margin-top: 3%;
    font-size: 18px;
    color: gray;
  }


  .graf-atendimentos .atend-g1{
    display: flex;
    margin-left: 2%;
  }

  .graf-atendimentos .atend-g2{
    display: flex;
    margin-left: 4%;
    margin-top: 60px;
    justify-content: space-around;
  }


  #chartdiv-barlat-foto {
    width: 100%;
    height: 900px;
    
  }

  #chartdiv-pizza {
    width: 50%;
    height: 400px;
  }



  #chartdiv-roda {
    width: 50%;
    height: 300px;
  }


  #chartdiv-barra-foto {
    width: 80%;
    height: 400px;
    margin-left: 10%;
    margin-top: 60px;
  }


